.parent {
  display: flex;
  background-color: red;
  background:url("./assets/background.jpeg") center;
  height: 700px;
  width:900px;
  color: aliceblue;
  border-radius: 20%;
  background-size:cover;
  position: absolute;
  left: 250px;
  top: 200px;
}
.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-evenly;
  list-style-type: none;
}
.username {
  background-color:rgba(248, 231, 231, 0.493);
  color:purple;
  position:absolute;
  left: 375px;
}
.password{
  background-color:rgba(248, 231, 231, 0.493);
  color:purple;
  position: absolute;
  left: 375px;
}
.password1{
  background-color:rgba(248, 231, 231, 0.493);
  color:purple;
  position: absolute;
  left: 375px;
}
