.parent {
  display: flex;
  background-color: red;
  background:url("./assets/background.jpeg") fixed;
  height: 700px;
  width:900px;
  color: aliceblue;
  border-radius: 20%;
  background-size:cover;
  position: absolute;
  left: 200px;
  top: 200px;
}